/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1 {
  display:flex;
  justify-content: center;
}

#playmat {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

#playmat>section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  border: 1px solid black;
}

img{
  display: block;
  height: 100px;
  margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
